<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.galeria">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Galeria"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Galeria.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".TicketClosedActivity"
            android:exported="true"
            android:theme="@style/Theme.Galeria.NoActionBar" />
        <activity
            android:name=".OrderActivity"
            android:exported="true"
            android:theme="@style/Theme.Galeria.NoActionBar" />
        <activity
            android:name=".UserActivity"
            android:exported="true"
            android:label="Usuarios"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".TicketActivity"
            android:exported="true"
            android:label="Tickets"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".ProductActivity"
            android:exported="true"
            android:label="Productos"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".CategoyActivity"
            android:exported="true"
            android:label="Categorias"
            android:parentActivityName=".SettingsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:label="Panel de control"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Galeria.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Galeria.NoActionBar"/>

    </application>

</manifest>